@charset "UTF-8";

/* обнуление */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #0B0B0F;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}

[class*=__container] {
  max-width: 1250px;
  padding: 0px 15px;
  margin: 0px auto;
}

/* ========================================================= */

.lins {
  position: relative;
  height: 50%;
  z-index: 200;
}

.lins img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.gradient {
  position: absolute;
  height: 575px;
  width: 481px;
  top: -110px;
  left: 106px;
  background: -webkit-gradient(linear, left top, left bottom, from(#173b80), to(#11573e));
  background: -o-linear-gradient(top, #173b80 0%, #11573e 100%);
  background: linear-gradient(180deg, #173b80 0%, #11573e 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.gradient2 {
  position: absolute;
  height: 348px;
  width: 297px;
  top: 40px;
  left: 205px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 255, 158, 0)), to(#17ffe3));
  background: -o-linear-gradient(top, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 32px 0;
  z-index: 9999999;
}

.header__logo {
  position: relative;
  z-index: 201;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-style: normal;
  line-height: 100%;
  font-weight: 600;
  font-size: 14px;
  gap: 32px;
}

.menu__link a {
  color: inherit;
}

.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__sign a {
  padding: 12px 21px;
  color: inherit;
}

.header__sign:hover {
  background: -o-linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
  background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 203;
  position: relative;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 130%;
  color: #ffffff;
  margin: 169px 0 16px 0;
  max-width: 780px;
}

.main__title a {
  color: inherit;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #898ca9;
  text-align: center;
  width: 510px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__start {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin: 32px 0 0 0;
  background: -o-linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
  background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
  border-radius: 10px;
  z-index: 2000;
}

.main__btn {
  padding: 22px 33px;
}

.btn a {
  color: inherit;
}

.background {
  width: 100%;
  position: absolute;
}

.background img {
  margin-top: -12.5%;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 205;
}

.items {
  position: relative;
}

.bitcoin {
  position: absolute;
  width: 97.35px;
  height: 107.51px;
  background: url(../img/header__planets/Bitcoin.svg) center no-repeat;
  left: 197px;
  top: 48px;
  z-index: 200;
}

.mars {
  position: absolute;
  width: 129.39px;
  height: 130.15px;
  background: url(../img/header__planets/mars.svg) center no-repeat;
  left: 179px;
  top: 474px;
  z-index: 200;
}

.start1 {
  position: absolute;
  right: 281px;
  top: 30px;
  width: 74px;
  height: 74px;
  z-index: 200;
  background: url(../img/header__planets/star/star1.svg) center no-repeat;
}

.start2 {
  position: absolute;
  width: 61px;
  height: 60px;
  left: 307px;
  top: 151px;
  z-index: 200;
  background: url(../img/header__planets/star/star2.svg) center no-repeat;
}

.start3 {
  position: absolute;
  right: 186px;
  top: 827px;
  width: 61px;
  z-index: 200;
  height: 60px;
  background: url(../img/header__planets/star/star2.svg) center no-repeat;
}

.start4 {
  position: absolute;
  right: 218px;
  top: 112.4px;
  width: 54px;
  height: 46px;
  z-index: 200;
  background: url(../img/header__planets/star/star3.svg) center no-repeat;
}

.mask {
  position: absolute;
  width: 156px;
  height: 154.82px;
  left: 595px;
  top: 249px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 711.743px;
  z-index: 199;
  background: url(../img/main/mask/MaskGroup.svg) center no-repeat;
}

.mask-rectange {
  position: absolute;
  width: 156px;
  height: 156px;
  left: 595px;
  top: 253px;
  z-index: 200;
  background: url(../img/main/mask/Rectangle.svg) center no-repeat;
}

.purple-sphera {
  position: absolute;
  width: 259px;
  height: 259px;
  right: -42px;
  top: 383px;
  background: url(../img/main/sphere.svg) center no-repeat;
  z-index: 200;
}

.gradient-spher {
  position: absolute;
  width: 603px;
  height: 653px;
  right: -338px;
  top: 125px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 194, 255, 0)), to(#ff29c3));
  background: -o-linear-gradient(top, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.gradient-spher1 {
  position: absolute;
  width: 439.73px;
  height: 411.07px;
  right: -100px;
  top: 104px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174aff));
  background: -o-linear-gradient(top, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.textur {
  position: absolute;
  width: 550px;
  height: 500px;
  top: -183px;
  background: url(../img/main/mask/Texture.svg) center no-repeat;
}

.textur2 {
  position: absolute;
  width: 550px;
  height: 600px;
  top: 277px;
  background: url(../img/main/mask/Texture2.svg) center no-repeat;
}

.textur3 {
  position: absolute;
  width: 343px;
  height: 474px;
  top: 363px;
  left: 550px;
  background: url(../img/main/mask/Texture3.svg) center no-repeat;
}

.textur4 {
  position: absolute;
  width: 211px;
  height: 500px;
  left: 550px;
  top: -136px;
  background: url(../img/main/mask/Texture4.svg) center no-repeat;
}

.info {
  position: relative;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 370px;
  gap: 20px;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 383px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1b23;
  padding: 32px 24px;
  border-radius: 25px;
  z-index: 200;
  text-align: center;
}

.img__info {
  margin: 0 0 16.24px 0;
}

.info__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin: 0 0 16px 0;
  text-decoration: none;
}

.info__content {
  width: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #898ca9;
  margin: 0 0 32px 0;
  text-decoration: none;
}

.info__started {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #b982ff;
  text-align: center;
  text-decoration: none;
}

.info__started img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__started a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 6px 0 0;
}

.info__star {
  position: relative;
}

.info__item {
  position: absolute;
  width: 54px;
  height: 49.9px;
  left: 235px;
  top: 301px;
  z-index: 200;
  background: url(../img/header__planets/star/star3.svg) center no-repeat;
}

.info__item2 {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 272px;
  top: 379px;
  z-index: 200;
  background: url(../img/header__planets/star/star1.svg) center no-repeat;
}

.info-invests {
  position: relative;
}

.invests__item-bg {
  position: absolute;
  right: 0;
  height: 100%;
}

.invests__item-bg img {
  width: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.invests__item-star {
  position: absolute;
  width: 61px;
  height: 60px;
  top: 75%;
  right: 30%;
  background: url(../img/header__planets/star/star2.svg) center no-repeat;
}

.invests__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 220px;
}

.titl__info {
  width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin: 0 0 16px 0;
}

.content__info {
  width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #898ca9;
}

.support {
  position: relative;
}

.support__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 280px;
}

.support__img {
  position: relative;
  z-index: 200;
}

.support__img img {
  width: 275px;
  height: 326px;
  -o-object-fit: cover;
     object-fit: cover;
}

.support__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 350px;
}

.support__title {
  width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
  line-height: 130%;
}

.support__content {
  width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #898ca9;
  margin-top: 16px;
}

.support__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin: 32px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  z-index: 200;
}

.item__support {
  position: absolute;
  height: 172px;
  width: 172px;
  left: 240px;
  bottom: 34px;
  z-index: 199;
  background: url(../img/main/planet/marsb.svg) center no-repeat;
}

.star__support {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 284px;
  left: 239px;
  z-index: 200;
  background: url(../img/header__planets/star/star1.svg) center no-repeat;
}

.gradient1__support {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a3529), to(#d6a52a));
  background: -o-linear-gradient(top, #7a3529 0%, #d6a52a 100%);
  background: linear-gradient(180deg, #7a3529 0%, #d6a52a 100%);
  -webkit-filter: blur(300px);
          filter: blur(300px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 400px;
  height: 339px;
  left: 0;
  top: 10px;
}

.gradient2__support {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 79, 24, 0)), to(#ff4117));
  background: -o-linear-gradient(top, rgba(255, 79, 24, 0) 0%, #ff4117 100%);
  background: linear-gradient(180deg, rgba(255, 79, 24, 0) 0%, #ff4117 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 345px;
  height: 339px;
  left: -88px;
  top: 314px;
}

.texture1__support {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: -152px;
  background: url(../img/main/textures/Texture3.svg) center no-repeat;
}

.texture2__support {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: 348px;
  background: url(../img/main/textures/Texture3.svg) center no-repeat;
}

.texture3__support {
  position: absolute;
  width: 365px;
  height: 500px;
  left: 500px;
  top: -152px;
  background: url(../img/main/textures/Texture3.svg) center no-repeat;
}

.texture4__support {
  position: absolute;
  width: 365px;
  height: 500px;
  left: 500px;
  top: 348px;
  background: url(../img/main/textures/Texture3.svg) center no-repeat;
}

.industry {
  position: relative;
}

.industry__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 280px;
}

.info__industry {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #b982ff;
  text-align: center;
  text-decoration: none;
  margin-top: 32px;
}

.info__industry img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__industry a {
  padding: 0 6px 0 0;
}

.background__industry {
  position: relative;
}

.industry__bg {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c4982), to(#2cd095));
  background: -o-linear-gradient(top, #2c4982 0%, #2cd095 100%);
  background: linear-gradient(180deg, #2c4982 0%, #2cd095 100%);
  -webkit-filter: blur(400px);
          filter: blur(400px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 596.4px;
  height: 595.93px;
  right: -320px;
  top: -300px;
}

.industry__bg2 {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 255, 158, 0)), to(#17ffe3));
  background: -o-linear-gradient(top, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 686.56px;
  height: 706.25px;
  right: -370px;
  top: -470px;
}

.industry__texture {
  position: absolute;
  background: url(../img/main/textures/Texture2.svg) center no-repeat;
  width: 600px;
  height: 600px;
  right: -20px;
  top: -200px;
}

.industry__texture2 {
  position: absolute;
  background: url(../img/main/textures/Texture2.svg) center no-repeat;
  width: 600px;
  height: 400px;
  right: -20px;
  top: -600px;
}

.industry__texture3 {
  position: absolute;
  background: url(../img/main/textures/Texture2.svg) center no-repeat;
  width: 600px;
  height: 275px;
  right: -20px;
  top: 397px;
}

.industry__texture4 {
  position: absolute;
  background: url(../img/main/textures/Texture2.svg) center no-repeat;
  width: 200px;
  height: 600px;
  right: 561.5px;
  top: -200px;
}

.industry__texture5 {
  position: absolute;
  background: url(../img/main/textures/Texture2.svg) center no-repeat;
  width: 200px;
  height: 455px;
  right: 561.5px;
  top: -655px;
}

.trade {
  position: relative;
}

.trade__container {
  position: relative;
  margin-top: 50px;
}

.trade__block {
  background: #1a1b23;
  border-radius: 25px;
}

.trade__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 32px;
  gap: 32px;
}

.item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 207px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  padding-left: 20px;
}

.name__val {
  width: 91px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #b982ff;
}

.sell__val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 231px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.statistic__sell {
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.green {
  color: #0dbb7c;
}

.red {
  color: #ff8282;
}

.statics__graphic {
  width: 208px;
  height: 36.1px;
}

.trade__now {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.trade__now a {
  margin: 0 12px 0 0;
}

.trade__item {
  position: relative;
}

.item__trade img {
  position: absolute;
  top: -273px;
}

.secury {
  position: relative;
}

.secury__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.serury__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
  margin: 0 165px 0 0;
}

.title__secury {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 130%;
  color: #ffffff;
}

.content__secury {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #898ca9;
  margin-top: 16px;
}

.secury__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin: 32px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  z-index: 2000;
  padding: 20px 33px;
}

.secury__background {
  position: absolute;
  width: 474.37px;
  height: 474.37px;
  right: 20%;
  top: -30%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 194, 255, 0)), to(#ff29c3));
  background: -o-linear-gradient(top, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  -webkit-filter: blur(350px);
          filter: blur(350px);
}

.secury__background2 {
  position: absolute;
  width: 275.98px;
  height: 391.55px;
  right: 20%;
  top: -20%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174aff));
  background: -o-linear-gradient(top, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.secury__item1 {
  position: absolute;
  width: 54px;
  height: 46px;
  top: -8%;
  right: 22%;
  background: url(../img/header__planets/star/star3.svg) center no-repeat;
}

.secury__item2 {
  position: absolute;
  background: url(../img/header__planets/star/star1.svg) center no-repeat;
  width: 74px;
  height: 74px;
  bottom: 25%;
  right: 17%;
}

.transmissions {
  position: relative;
}

.transmissions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__transmission {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 130%;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.96;
}

.policy__transmission {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #898CA9;
  margin: 16px 0 32px 0;
}

.policy {
  color: #FFFFFF;
}

.btn__transmission {
  position: relative;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  width: 304px;
  height: 56px;
  border: 2px solid;
  border-radius: 10px !important;
  -o-border-image: -o-linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
     border-image: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border-image-slice: 1;
}

.email {
  width: 230px;
  height: 21px;
  color: #565976;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background-color: inherit;
  margin: 0 10px 0 0;
  -webkit-transition: -webkit-filter 0.3s ease 0.3s;
  transition: -webkit-filter 0.3s ease 0.3s;
  -o-transition: filter 0.3s ease 0.3s;
  transition: filter 0.3s ease 0.3s;
  transition: filter 0.3s ease 0.3s, -webkit-filter 0.3s ease 0.3s;
}

.stroke {
  cursor: pointer;
  z-index: 200;
  -webkit-transition: -webkit-filter 0.3s ease 0.3s;
  transition: -webkit-filter 0.3s ease 0.3s;
  -o-transition: filter 0.3s ease 0.3s;
  transition: filter 0.3s ease 0.3s;
  transition: filter 0.3s ease 0.3s, -webkit-filter 0.3s ease 0.3s;
}

.footer {
  position: relative;
  z-index: 209;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 220px auto 101px auto;
}

.block-info__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 380px;
  z-index: 208;
}

.logo__footer {
  opacity: 0.3;
}

.content__footer {
  width: 380px;
  height: 125px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.3;
  color: #ffffff;
  line-height: 150%;
}

.span-content__footer {
  position: relative;
  margin-top: 30px;
}

.btn__footer {
  margin-top: 32px;
}

.holding__footer {
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.3;
}

.block-menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 278px;
  padding-left: 100px;
}

.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.3;
  text-decoration: none;
  margin-bottom: 24px;
}

.menu__footer a {
  color: inherit;
}

.block-pollicy__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pollicy__footer {
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.3;
  text-decoration: none;
}

.gradient__footer {
  position: relative;
}

.item1__gradient {
  position: absolute;
  top: 80%;
  right: -100%;
  width: 652.4px;
  height: 738.93px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c4982), to(#2cd095));
  background: -o-linear-gradient(top, #2c4982 0%, #2cd095 100%);
  background: linear-gradient(180deg, #2c4982 0%, #2cd095 100%);
  -webkit-filter: blur(400px);
          filter: blur(400px);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.item2__gradient {
  position: absolute;
  top: 80%;
  right: 0;
  width: 286.56px;
  height: 406.25px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 255, 158, 0)), to(#17ffe3));
  background: -o-linear-gradient(top, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 201;
}

.footer__texturs {
  position: relative;
}

.texture1 {
  position: absolute;
  width: 600px;
  height: 800px;
  top: 0;
  left: 0;
  background: url(../img/main/textures/Texture.svg) center no-repeat;
}

.texture2 {
  position: absolute;
  width: 600px;
  height: 800px;
  top: 0;
  left: 32.2%;
  background: url(../img/main/textures/Texture.svg) center no-repeat;
}